[submodule "ext/rcsw"]
	path = ext/rcsw
	url = https://github.com/swarm-robotics/rcsw.git
	branch = devel
[submodule "cmake"]
        path = cmake
        url = https://github.com/jharwell/cmake-config.git
[submodule "ext/ticpp"]
	path = ext/ticpp
	url = https://github.com/wxFormBuilder/ticpp.git
